.react-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.backBG{
  padding: 8em 4em;
}

.container {
  max-width: 1400px;
  padding-left: 1em;
  padding-right: 1em;
}

.max-width-90 {
  max-width: 90%;
}

.all-caps {
  text-transform: uppercase;
}

.bg-white {
  background-color: #FFF;
}
.bg-grey {
  background-color: #fafafa;
}
.bg-dark-grey {
  background-color: #f3f4f8;
}

.round-top {
  border-radius: 0.3em 0.3em 0 0;
}
.round-bottom {
  border-radius: 0 0 0.3em 0.3em;
}

button { cursor: pointer ;}
button:disabled {
  cursor: not-allowed;
  color: #CCC;
}

.m-b {
  margin-bottom: 4px;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-row * {
  padding: 5px  0px 5px 0px;
  margin: 5px 5px 5px 5px;
}

.box-shadow {
  box-shadow: 0px 42px 20px #DDD;
}

.App {
  overflow: hidden;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .max-width-90 { width: 99%; margin: auto;}
  .backBG { padding: 0;}
  .container { max-width: none; }
}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {

}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
