.logo {
  height: 8vmin;
  max-height: 120px;
  margin-left: auto!important;
  pointer-events: none;
}
.logo-container {
  margin-left: auto!important;
}

.font-header { font-family: 'Libre Baskerville', serif; }
body { font-family: 'Open Sans', sans-serif; }
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.backBG{
  padding: 8em 4em;
}

.inline-block { display: inline-block;}
.container {
  max-width: 1400px;
  padding-left: 1em;
  padding-right: 1em;
}

.max-width-90 {
  max-width: 90%;
}

.all-caps {
  text-transform: uppercase;
}
.text-white { color: #FFF; }
.text-grey { color: #BBB; }
.bg-white {
  background-color: #FFF;
}
.bg-grey {
  background-color: #fafafa;
}
.bg-dark-grey {
  background-color: #f3f4f8;
}
.bg-header { background-color: #3b3546; }
.bg-main { background-color: #2d2831; }
.bg-dark { background-color: #1d1a18; }

.border-top {  border-top: 4px solid #423b44; padding-top: 1.5em;}
.round-top {
  border-radius: 0.3em 0.3em 0 0;
}
.round-bottom {
  border-radius: 0 0 0.3em 0.3em;
}

button { cursor: pointer ;}
button:disabled {
  color: #CCC;
  cursor: not-allowed;  
}

.m-b {
  margin-bottom: 4px;
}
.text-center {
  text-align: center;
}
.center {
  margin: auto;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;  
  justify-content: flex-start;  
}

.flex-row * {
  margin: 5px 5px 5px 5px;
  padding: 5px  0px 5px 0px;  
}

.box-shadow {
  box-shadow: 0px 42px 20px #211f24;
}

.App {
  overflow: hidden;
}

.loader {
  width: 180px;
  height: 180px;
  border: 18px solid #f3f3f3;
  border-radius: 50%;
  border-right: 18px solid #70518d;
  animation: logo-spin infinite 20s linear;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .flex-row * { margin: 5px 0; }
  .react-logo { order: 2; }
  .max-width-90 { width: 99%; margin: auto;}
  .backBG { padding: 0;}
  .container { max-width: none; }
  .hide-sm { display: none; }
  .show-md { display: none; }
}

/* Medium devices (landscape tablets, 720px - 1024px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  .show-sm { display: none; }
  .hide-md { display: none; }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .show-sm { display: none; }
  .show-md { display: none; }
}

.logo {
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
