.app-title {
  color: #ea92fd;
  font-size: 4vmin;
}

.bookSection {
  padding: 2em;
}
.book {
  align-items: center;
  border: 1px solid #3b3546; 
  background-color: #3b3546;  
  border-radius: 0.3em;
  display: flex;
  margin-bottom: 1em;
  padding: 24px;  
}
#left {
  flex-basis: 50%;
}
#center {
  align-items: center;
  border-right: 1px solid #DDD;
  display: inline-flex;
  flex-basis: 20%;  
  justify-content: center;  
  padding-right: 20px;  
}
#right {  
  flex-basis: 30%;
  justify-self: center;
  padding-left: 2.5%;
  text-align: left;
}
#right button {
  background-color: #f72d92;
  border: none;
  border-radius: 0.35em;
  color: #FFF;
  cursor: not-allowed;
  padding: 8px 22px;  
}

.category {
  color: #cacaca;
  font-weight: 800;
  margin-bottom: -2px;
}

.title {
  color: #FFF;
  margin-bottom: -2px;
}

.author {
  color: #ce5e96;
  font-weight: 400;
  margin-bottom: 12px;  
}
.actions { text-align: left; }
.actions button {  
  background-color: transparent;
  border: none;
  color: #f72d92;
}
.actions button:nth-child(1) {
  padding-left: 0;
}
.actions button:nth-child(2) {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  margin: 0 8px;
  padding: 0 8px
}
.percent { padding-left: 12px; }
.percentage {
  color: #FFF;
  font-weight: 300;
}
.completed {
  color: #FFF;
  font-weight: 300;
}

.current { 
  color: #cacaca;
  font-weight: 400;
  font-size: 12px;
}

.chapter {
  color: #FFF;
  margin-bottom: 1em;
}

.pie-graph-0 {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
}
.pie-graph-25 {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-left: 10px solid #70518d;
}
.pie-graph-50 {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-left: 10px solid #70518d;
  border-bottom: 10px solid #70518d;
}
.pie-graph-75 {
  width: 60px;
  height: 60px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-left: 10px solid #70518d;
  border-bottom: 10px solid #70518d;
  border-right: 10px solid #70518d;
}
.pie-graph-100 {
  width: 60px;
  height: 60px;
  border: 10px solid #70518d;
  border-radius: 50%;
}
/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .actions button:nth-child(2) { padding: 6px; margin: 0; }
  .bookSection { padding: 6px; }
  .book { flex-wrap: wrap; }
  .app-title { flex-basis: 80%; font-size: 8vmin; text-align: right; }
  #left { flex-basis: 100%; text-align: center; }
  .actions { text-align: center; }
  #center { flex-basis: 100%; padding: 12px 0; border-right: none; margin-top: 0.8em; margin-bottom: 0.8em; }
  .categories { text-align: center; flex-basis: 100%; order: 3; }
  .cat-title { display: none; }
  #right { flex-basis: 100%; text-align: center; padding-left: 0;  }
}